@font-face {
    font-family: "Gilroy";
    src: url("gilroy-bold.otf");
}

@font-face {
    font-family: "SourceHanSansRegular";
    src: url("SourceHanSansSC-Regular.otf");
}

@font-face {
    font-family: "SourceHanSansBold";
    src: url("SourceHanSansSC-Bold.otf");
}