@font-face {
    font-family: "Gilroy";
    src: url("YanZhenQingDuoBaoTaBei-2.ttf");
}

@font-face {
    font-family: "SourceHanSansRegular";
    src: url("YanZhenQingDuoBaoTaBei-2.ttf");
}

@font-face {
    font-family: "SourceHanSansBold";
    src: url("YanZhenQingDuoBaoTaBei-2.ttf");
}

@font-face {
    font-family: "SourceCodeProBold";
    src: url("YanZhenQingDuoBaoTaBei-2.ttf");
}